nav {
  bottom: 0;
}

.about {
  overflow: auto;
  /* border: 2px solid black; */
}

.about ul {
  font-size: 150%;
  margin-right: 5%;

  list-style-type: square;

  /* border: 2px solid black; */
}

@media screen and (min-width: 1400px) {
  body {
    margin-bottom: 10vh;
  }

  .img-alt {
    display: none;
  }

  .about {
    font-size: 2rem;
  }

  .about img {
    float: left;
    width: 30%;
  }

  .about div {
    margin-left: 35%;
  }
}


@media screen and (max-width:900px) and (orientation: portrait) {
  body {
    margin-bottom: 7vh;
  }

  .img-main {
    display: none !important;
  }

  .about {
    font-size: 1rem;
  }

  .about img {
    width: 75%;
    margin: 0 auto;
    display: block;

    border-radius: 50%;

    border: 2px solid black;
  }

  .about div {
      /* margin-left: 35%; */
      /* margin-right: 10%; */

      /* border: 2px solid black; */
  }

  .about h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 1px;

    /* border: 2px solid black; */
  }
}


@media screen and (max-width: 1280px) and (orientation: landscape) {
  body {
    margin-bottom: 7vh;
  }

  .img-alt {
    /* display: none !important; */
  }

  .img-main {
    display: none !important;
  }

  .about {
    font-size: 0.9rem;
  }

  .about img {
    width: 50%;
    float: left;

    border-radius: 50%;
    border: 2px solid black;
  }

  .about div {
      margin-left: 50%;
      /* margin-right: 10%; */
      /* padding-left: 10vw; */

      /* border: 2px solid black; */
  }

  .about ul {
    /* list-style-position: inside; */
    margin-top: 0px;
    line-height: 95%;

    /* border: 2px solid black; */
  }

  .about h1 {
    text-align: center;
    /* line-height: 0px; */
    margin-top: 0px;
    margin-bottom: 0px;

    /* border: 2px solid black; */
  }
}
