html {
  /* overflow: hidden; */
}

body {
  margin-bottom: 5vh;
}

nav {
  bottom: 0;
}

.about {
  font-size: 2rem;
  /* text-align: center; */

  position: relative;
  border: 2px solid black;
  /* text-align: right; */
}

.about img {
  position: absolute;
  left: 0px;
  top: 0px;

  /* float: left; */
  width: 20vw;

  border: 2px solid black;
}

.about h1 {
  /* display: block; */

  /* text-align: center; */

  border: 2px solid black;
}

.about ul {
  border: 2px solid black;
  /* margin: 0 auto; */

  /* list-style-type: none; */
  /* list-style-position: inside; */

}

.about div {
    border: 2px solid black;
    margin-left: 21vw;
}
