* {
    margin: 0;
    padding: 0;
}

.main {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: stretch; */
}

img {
    display: inline-block;
    object-fit: fill;
    flex: 1;
    z-index: 1;
    transition: filter .5s ease, transform .5s ease;
}

.left, .right {
    /* filter: blur(1px); */
}

img:hover {
    filter: brightness(120%);
    transform: scale(0.99);
    /* z-index: 1; */
}

.middle {
    flex: 0;
    z-index: 2;
    /* transition: transform .5s ease; */
}

.middle:hover {
    transform: scale(1.1);
}
