nav {
  top: 0px;
}

details > summary {
  padding: 6px;
  line-height: 2em;
  background-color: #ddd;
  /* box-shadow: 3px 3px 4px black; */
}

summary:hover {
  background-color: #A9A9A9;
}

details[open] {
  /* border: 2px solid black; */
  /* padding: 10px; */
}

details[open] > summary {
  font-weight: bold;
}

details > article {
  margin-left: 1%;
  margin-right: 1%;

  text-indent: 2%;
  font-variant: small-caps;
  /* text-align: justify; */
}

details {
  border: 2px solid black;

  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1%;
  margin-right: 1%;
}

@media screen and (min-width: 901px) {
  body {
    margin-top: 13vh;
    margin-left: 10%;
    margin-right: 10%;
  }

  main {
    font-size: 1.4rem;
  }
}


@media screen and (max-width:900px) {
  body {
    margin-top: 10vh;
    margin-left: 2%;
    margin-right: 2%;
  }

  main {
    font-size: 1.2rem;
  }
}

@media screen and (max-width:900px) and (orientation: landscape) {
  body {
    margin-top: 13vh;
  }
}
