<!DOCTYPE html>
<html lang="ru">

<head>
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Neucha&display=swap" rel="stylesheet">
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>GW Writing</title>
    <link href='css/style.css' rel='stylesheet'>
    <link href='css/writing.css' rel='stylesheet'>
</head>

<body>

    <header>
        <nav>
            <a href="index.html"><img src="src/img/home.png" alt="Домой"></a>
            <a href="programming.html"><img src="src/img/programmes.png" alt="Программы"></a>
        </nav>
    </header>

    <main>
        <summary>Импрессии</summary>
        <details>
            <summary>"Усталость" 05.07.19</summary>
            <article>
                <p>Усталость. Она повсюду. </p>
                <p>Кажется, будто капли устали рушиться с неба, земля устала от нескончаемого дождя, а я устал
                        следить за течением судьбы.</p>
                <p>Дождь продолжается. Свинцово-серые облака угрожающе нависают над мрачным миром, словно в
                        решимости задавить его, невыносимо медленно обрушившись вниз.</p>
                <p>Тяжелый стук раздаётся со всех сторон, проникает в разум и не дает забыться. Тупые удары капель
                        преследуют меня и отзываются во мне глухой болью потревоженного сознания.</p>
                <p>Дождь...</p>
                <p>Сколько он уже идет, дождь?</p>
                <p>Я устал. Ведь так не может продолжаться вечно. Или...</p>
                <p>Как давно я здесь? Кто я?</p>
                <p>У меня есть только вопросы и ни одного ответа.</p>
                <p>Но, возможно, мне стоит быть счастливым?</p>


                <figure>
                    <img src="src/img/w-calm.jpg" alt="Альбатрос над морем">
                    <figcaption>
                        <i>Chris Rose</i>, 
                        <a href="http://www.chrisrose-artist.co.uk/projects/storm-passing-wandering-albatross/">
                        "Storm passing – wandering albatross"</a>
                    </figcaption>
                </figure>
            </article>
        </details>
    </main>

</body>

</html>